In [20]:
import pandas as pd

In [21]:

 
# initialize data of lists.
data = {'IdPerpus': ['173', '213', '913', ],
        'Perpustakaan': ['Perpustakaan Kota Bandung', 'Perpustakaan ITB', 'Perpustakaan UPI'],
        'Alamat':['Jl. Seram No.2, Citarum, Kec. Bandung Wetan, Kota Bandung, Jawa Barat 40115', 'Kawasan ITB Kampus Ganesa, Jl. Ganesa No.10, Lb. Siliwangi, Kecamatan Coblong, Kota Bandung, Jawa Barat 40132', ' Jl. Dr. Setiabudi No.229, Isola, Kec. Sukasari, Kota Bandung, Jawa Barat 40154'],
        'Lon':['107.6137978229117','107.6107340527733','107.59142271780094'],
        'Lat':['-6.908202787856465','-6.888200572853506','-6.860911863002797']
        }
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

  IdPerpus               Perpustakaan  \
0      173  Perpustakaan Kota Bandung
1      213           Perpustakaan ITB
2      913           Perpustakaan UPI

                                              Alamat                 Lon  \
0  Jl. Seram No.2, Citarum, Kec. Bandung Wetan, K...   107.6137978229117
1  Kawasan ITB Kampus Ganesa, Jl. Ganesa No.10, L...   107.6107340527733
2   Jl. Dr. Setiabudi No.229, Isola, Kec. Sukasar...  107.59142271780094

                  Lan
0  -6.908202787856465
1  -6.888200572853506
2  -6.860911863002797

In [22]:
display(df)

,IdPerpus,Perpustakaan,Alamat,Lon,Lan
0,173,Perpustakaan Kota Bandung,"Jl. Seram No.2, Citarum, Kec. Bandung Wetan, K...",107.6137978229117,-6.908202787856465
1,213,Perpustakaan ITB,"Kawasan ITB Kampus Ganesa, Jl. Ganesa No.10, L...",107.6107340527733,-6.888200572853506
2,913,Perpustakaan UPI,"Jl. Dr. Setiabudi No.229, Isola, Kec. Sukasar...",107.59142271780094,-6.860911863002797

In [23]:
df.to_csv('datasets/Perpustakaan.csv', index='False')